parameters:
	ignoreErrors:
		-
			message: "#^Function entity_translation_enabled not found\\.$#"
			count: 1
			path: ../../i18n.module

		-
			message: "#^Undefined variable\\: \\$tree$#"
			count: 1
			path: ../../i18n_menu/i18n_menu.module

		-
			message: "#^Function l10n_client_save_string not found\\.$#"
			count: 1
			path: ../../i18n_string/i18n_string.pages.inc

		-
			message: "#^Function i18n_taxonomy_translation_overview not found\\.$#"
			count: 1
			path: ../../i18n_taxonomy/i18n_taxonomy.admin.inc

		-
			message: "#^Function i18n_taxonomy_translate_path\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: ../../i18n_taxonomy/i18n_taxonomy.module

		-
			message: "#^Function taxonomy_field_uuid_load not found\\.$#"
			count: 1
			path: ../../i18n_taxonomy/i18n_taxonomy.module

		-
			message: "#^Function taxonomy_field_uuid_presave not found\\.$#"
			count: 1
			path: ../../i18n_taxonomy/i18n_taxonomy.module
