# The baseline file is generated with phpstan.
# If a problem got fixed, the file should be re-generated.
# @see https://phpstan.org/user-guide/baseline
includes:
  - baseline.neon
# @see https://phpstan.org/config-reference
parameters:
  level: 0
  scanDirectories:
    - ../../../../core
    - ../../
  fileExtensions:
    - module
    - inc
    - install
    - test
  excludePaths:
    - *.tpl.php
    - *.api.php
